h1 {
    color: red;
}

h2 {
    color: green;
}
.bg{
    background-image: linear-gradient( yellow, green);    
    height: 100vh;
}
.login{
    text-align: right;

}
.login a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.container{
    background-image: linear-gradient(white , black);
    height: 100vh;
    font-family: monospace;
}